body {
    background-color: #000d1b;
    color:white;
    font-size:10pt;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    padding: 20px;
}

#wrapper {
    border-radius: 5px;
    width: 1000px;
    margin: 0 auto;
}

#content {
    padding: 5px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    padding-top: 100px;
}

.opdracht {
    background-color:purple;
    padding: 0 5px 0 5px;
}

th {
    text-align: left;
    border-bottom: 2px solid white;
    padding: 5px;
}

td {
    border-bottom: 1px solid white;
    padding: 5px;
}


.einde {
    background-color:red;
    padding: 0 5px 0 5px;
    font-weight: bold;
}

.letop {
    background-color:#09415f;
    padding: 5px;
}

a {
    color: white;
}

/* Styling for the <code> tag */
code {
    font-family: 'Courier New', Courier, monospace; /* Monospace font for code */
    color: #333;            /* Dark gray text color */
    font-size: 1rem;        /* Same font size as pre */
}

/* Optional: Adding syntax highlighting for comments */
code::before, code::after {
    content: '';
}

/* Style the comments within the code */
pre code:before {
    content: ' ';  /* Empty space to keep formatting before code */
}

/* code {
    display: block;
} */

code {
    color: #d14; /* Style your comments with a red tone */
}

.button {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    transition: background-color 0.3s ease; /* Transitie toevoegen */
    width:100px;
    height: 50px;
}

.button:hover {
    background-color: green; /* Verandert naar groen bij hover */
}

.div {
    width: 200px;
    height: 200px;
    background: linear-gradient(to right, #ff7f50, #1e90ff);
}

.animation-box {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    animation: spin 2s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}